.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

}

.login-container .form-wrapper {
    border: 2px solid rgb(141, 132, 132);
    border-radius: 30px;
    padding: 40px 43px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-container .form-wrapper .div-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.login-container .form-wrapper .div-wrapper .heading {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    font-family: Gilroy-Bold;
    color: #1D1B20;
}

.login-container .form-wrapper .div-wrapper .form-contents {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
    line-height: 20px;
}

.login-container .form-wrapper .div-wrapper .form-contents .login-button .submit{
    outline: none;
    border: none;
}

.login-container .form-wrapper .div-wrapper .form-contents .login-button {
    margin-top: 18px;
}

.login-container .form-wrapper .div-wrapper .form-contents .account {
    text-align: center;

}

.login-container .form-wrapper .div-wrapper .form-contents .account p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.login-container .form-wrapper .div-wrapper .form-contents .account .have-an-account span a {
    text-decoration: none;
    color: #00A542;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.login-container .form-wrapper .div-wrapper .form-contents .account .forgot-password {
    padding: 4px 0;

}

.login-container .form-wrapper .div-wrapper .form-contents .account .forgot-password a {
    color: #00A542;
    text-decoration: none;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.login-container .form-wrapper .continue-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* .backgroundGrad{
     background-image: linear-gradient(to right, #c1e0c1,#fff, #fff, #fff);
} */