.walletTransactionBody{
    display: flex;
    flex-direction: column;
    padding-top: 77px;
    gap: 16px;
    width: 29vw;
    justify-content: center;
    height: max-content;
    align-items: center;
    position: sticky;
    top: 0;
}

.walletTransactionBody .title{
    text-align: left;
    width: 83%;
    font-size: 18px;
}

.walletTransactionBody .walletTransactions{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 18px;
}