.contact {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contact .contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    border: 2px solid rgb(141, 132, 132);
    border-radius: 30px;
    padding: 40px 43px;
}

.contact .contactUs .cont {
    font-size: 28px;
    color: #1D1B20;
}

.contact .contactUs form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact .contactUs form .button {
    margin-top: 16px;
}

.contact .contactUs .message {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message label {
    font-size: 14px;
    color: #1D1B20;
}

.message textarea {
    width: 399px;
    height: 150px;
    border-radius: 10px;
    border: 1.5px #343434 solid;
    padding: 12px;
    font-size: 14px;
    resize: none;
}