a{
    text-decoration: none;
}

.btn{
    color: white;    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
}

.btn:disabled{
    cursor: wait;
}

.green{
    background-color: #00A542;
}

.green:hover{
    background-image: linear-gradient(to right, #009C3C, #008626);
}

.red{
    background-color: #B3261E;
}

.red:hover{
    background-image: linear-gradient(to right, #B3261E, #4D0400);
}

.grey{
    background-color: #343434;
}
.grey2{
    background-color: #4B4B4B;
    color: #B0B0B0;
}
.white{
    background-color: white;
    border: 1px solid #00A542;
    color: black;
}

/* For BUY and SELL */
.mini{
    border-radius: 5px;
    width: 59px;
    height: 38px;
}

/* For Sign Up */
.mini2{
    border-radius: 6px;
    width: 82px;
    height: 32px;
}

/* For Proceed to Pay */
.small{
    border-radius: 5px;
    width: 124px;
    height: 38px;
}

/* For Subscribe */
.small2{
    border-radius: 6px;
    width: 143px;
    height: 56px;
}

/* For Get Started */
.normal{
    border-radius: 5px;
    width: 216px;
    height: 58px;
    margin-top: 10px;
    
}

/* For Login, Continue, Finish */
.normal2{
    border-radius: 6px;
    width: 399px;
    height: 48px;
}

/* For Buy USDT & SELL*/
.large{
    border-radius: 5px;
    width: 479px;
    height: 38px;
}

/* For Proceed to Pay, Cancel Order, Check Wallet, Mark as Paid,
Provide Feedback, Transfer, Confirm, View Details, Share, Payment Received, Help*/
.large2{
    border-radius: 5px;
    width: 93%;
    height: 38px;
}
.large3{
    border-radius: 5px;
    /* width: 555px; */
    height: 38px; 
    width: 35vw;
}
.large4{
    width: 35vw;
    height: 38px; 
    border-radius: 5px;
}

@media screen and (max-width: 280px){
    .mini{
        width: 200px;
        
    }
    .large3{
       width: 90vw; 
    }
    
}



@media only screen and (min-width:281px) and (max-width: 390px){
    .mini{
        width: 300px;
        
    }
    .large3{
       width: 93vw; 
    }
    .large4{
        width: 45vw;
    }
}

@media only screen and (min-width:391px) and (max-width: 800px){
    .large3{
        width: 93vw; 
     }
     .large4{
        width: 45vw;
    }
}
@media only screen and (min-width:768px) and (max-width: 912px){
    .large3{
        width: 90vw; 
     }
     .large4{
        width: 44vw;
    }
}

@media only screen and (min-width:391px) and (max-width: 912px){
    .mini{
        width: 340px;
        
    }
    
}





@media screen and (max-width:540px) {
    .normal2{
        width: 90vw;
}
}