.chat{
    width: 29vw;
    height: 100vh;
    padding-top: 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.chat .title{
    font-size: 18px;
    padding-left: 3%;
}

.chat .text{
    display: flex;
    gap: 4px;
    align-items: center;
    padding-left: 5%;
}
.show{
    display: block;
}
.hide{
    display: none;
}

/* .chat .text */
 .paragraph{
    font-size: 12px;
    color: #4B4B4B;
    font-family: 'Gilroy-Medium', sans-serif;
}
.amountsold{

font-family: Gilroy-Bold;
font-size: 14px;
font-weight: 400;
line-height: 20px;
color: #4B4B4B;

}

/* .chat .text  */
.timer{
    font-size: 16px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.chat img:nth-child(3){
    padding-left: 3%;
    padding-right: 3%;
}

.chat .chatContainer{
    height: 82px;
    background-color: #B0B0B0;
    padding: 8px 16px 24px 16px;
}

.chat .chatContainer .chatInput{
    height: 50px;
    padding: 12px;
    background-color: #9B9B9B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat .chatContainer .chatInput input{
    border: none;
    outline: none;
    background-color: #9B9B9B;
    width: 100%;
    height: 100%;
    font-family: 'Gilroy-Medium', sans-serif;
    caret-color: #00A542;
}