.setupBody {
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 5%;
    position: sticky;
    top: 0;
    height: 100%;
}

.setupBody .setupBodyHeader {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 20px 0 20px 0;
}

.setupBody .setupBodyWrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.color{
    color: #B3261E;
}

@media screen and (max-width:767px) {
    .setupBody {
        width: 100vw;
    }

    .setupBody .setupBodyHeader {
        background-color: #FCFCFC;
        border-bottom: 1px solid #000;
        padding: 5%
    }
    

}