.orderBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    border-right: 1px solid #727272;
}

.orderBody .top{
    display: flex;
    align-items: center;
    height: 145px;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 45%;
    position: sticky;
    top: 0;
    background-color: #FCFCFC; 
}

.orderBody .top p{
    font-size: 28px;
}

.orderBody .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.orderBody .bottom{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 30px;
}

.noOrdersText {
    font-size: 1.2rem;
    color: #727272;
}