.transactionCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 26vw;
    height: 62px;
    border-radius: 5px;
    padding: 16px;
    background-color: #DDDDDD;
}

.transactionCard .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 38px;
    width: 60%;
    color: #1D1B20;
}

.transactionCard .left .title{
    color: #1D1B20;
    font-size: 14px;
}

.transactionCard .left .time{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 10px;
    color: #4B4B4B;
}

.transactionCard .right{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
}

.transactionCard .Green{
    color: #00A925;
}

.transactionCard .Red{
    color: #E60200;
}

@media screen and (max-width:1024px) {
    .transactionCard .left{
        width: 50%;
    }

    .transactionCard{
        width: 28vw;
    }
  }

  @media screen and (max-width:980px) {
    .transactionCard .left{
        width: 60%;
    }
  }

  @media screen and (max-width:800px) {
    .transactionCard .left{
        width: 59%;
    }
  }

  @media screen and (max-width:840px) {    
    .transactionCard{
        width: 30vw;
    }
  }