.transaction-details{

}
.transaction-details .transaction-usdt{
    width: 50vw;
    height: 1221px;
}
.transaction-details .transaction-caption{
    width: 570px;
    height: 145px;
    left: 387px;

}
.transaction-details .trans-letter{
    width: 395.23px;
    height: 36px;
    top: 75px;
    left: 39px;
    /* gap: ; */
}