.verifyPinBody{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        border-right: 1px solid #727272;
        padding-bottom: 100px;
        
}

.verifyPinBody .top{
    display: flex;
    align-items: center;
    height: 145px;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 45%;
    position: sticky;
    top: 0;
    background-color: #FCFCFC;
    margin-bottom: 56px;
    z-index: 2;

}

.verifyPinBody .top p{
    font-size: 28px;
}
.verifyPinBody .transferWalletWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.verifyPinBody .transferWalletWrapper .transferToWallet{
    display: flex;
    gap: 16px;
}

.verifyPinBody .transferWalletWrapper .transactionInput{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.verifyPinBody .transferWalletWrapper .transactionInput label{
    font-size: 14px;
    color: #1D1B20;
}

.verifyPinBody .transferWalletWrapper .transactionInput input{
    width: 510px;
    height: 40px;
    border-radius: 10px;
    border: 1.5px #343434 solid;
    padding: 12px;
    font-size: 14px;
}