.back{
    display: none;
}

.veri-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}
.veri-container .form-wrapper {
    border: 2px solid rgb(141, 132, 132);
    border-radius: 30px;
    padding: 64px 38px;
    
}
.veri-container .form-wrapper .div-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.veri-container .form-wrapper .div-wrapper .heading {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    font-family: Gilroy-Bold;
    color: #1D1B20;
}
.veri-container .form-wrapper .div-wrapper .form-contents {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.veri-container .form-wrapper .div-wrapper .form-contents .continue-button {
    margin-top: 18px;
    margin-bottom: 18px;
}

.veri-container .form-wrapper .div-wrapper .form-contents .continue-button .submit{
    outline: none;
    border: none;
}

.veri-container .form-wrapper .div-wrapper .form-contents .continue-button a {
    text-decoration: none;
}

@media screen and (max-width:390px){
    .back{
        display: block;
        padding: 36px 20px;
    }

    .veri-container .form-wrapper .div-wrapper .heading {
        font-weight: 200;
        font-size: 24px;

    }

    .veri-container {
        padding-top: 190px;
    }
    .veri-container .form-wrapper {
        padding: 0;
        border: none;
        border-radius: 0;
    }
    .navcontainer{
        display: none;
    }

}

@media only screen and (min-width:391px) and (max-width:910px) {

    .back{
        display: block;
        padding: 36px 20px;
    }

    .navcontainer{
        display: none;
    }

    .veri-container .form-wrapper {
        padding: 0;
        border: none;
        border-radius: 0;
    }

    .veri-container {
        padding: 280px 0;
    }

}