.waitingPaymentBody{
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-right: 1px solid #727272;
    padding-bottom: 200px;
}

.waitingPaymentBody .top{
    display: flex;
    align-items: center;
    height: 145px;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 37%;
    position: sticky;
    top: 0;
    background-color: #FCFCFC;
    margin-bottom: 56px;
}

.waitingPaymentBody .top p{
    font-size: 28px;
}

.waitingPaymentBody .center{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.waitingPaymentBody .box1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
   
}

.waitingPaymentBody  .box1 .text{
    display: flex;
    gap: 4px;
     align-items: center; 
     margin: 0 14%;
}

.waitingPaymentBody .box1 .text p{
    font-size: 12px;
    color: #4B4B4B;
    font-family: 'Gilroy-Medium', sans-serif;
}

.waitingPaymentBody .box1 .text .time{
    font-size: 16px;
    font-family: 'Gilroy-Bold', sans-serif;
}
.waitingPaymentBody .profile{
    margin: 1% 14%;
}

.waitingPaymentBody .box2{
    background-color: #DDDDDD;
    border-radius: 5px;
    padding: 6px 8px;
    color: #4B4B4B;
    margin: 2% 14%;
    
}

.waitingPaymentBody .box2 p{
    font-weight: 400;
    font-size: 12px;
    font-family: 'Gilroy-Regular', sans-serif;
}

.normalWidth{
    width: 72%;
}

.smallWidth{
    width: max-content;
    text-align: start;
}

.waitingPaymentBody .center .box4{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 36vw;
    color: #1D1B20;
}

.waitingPaymentBody .center .box4 .title{
    font-size: 18px;
}

.waitingPaymentBody .center .box4 .details{
    font-size: 16px;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 24px;
}

.waitingPaymentBody .center .box5{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.waitingPaymentBody .center .box5 .HelpOpen{
    display: flex;
    gap:12px;
}

.waitingPaymentBody .center .box5 .HelpOpen .open{
    display: none;
}

@media screen and (max-width:390px){
    .waitingPaymentBody{
    width: 100vw;
    border-right: none;
    }
    .waitingPaymentBody .top{
        padding-left: 5% ;
        padding-right: 5%;
        justify-content:flex-start;
        gap: 24px;
        margin-bottom: 40px;
        }
        .waitingPaymentBody .top p {
            font-size: 24px;
        }
    
    .waitingPaymentBody .profile {
        margin: 1% 5%;
    }
    .waitingPaymentBody .box1 .text {
        margin: 0 5%;
       }
       .waitingPaymentBody .box2 {
           margin: 2% 5%;
       }
       .normalWidth {
           width: 90%;
       }
       .waitingPaymentBody .center .box4 {
        width: 90vw;
    }
    .smallWidth{
        width: 90vw;
    }
    .waitingPaymentBody .center .box5 .HelpOpen .open{
        display: block;
    }
}

@media only screen and (min-width:391px) and (max-width:912px) {
    .waitingPaymentBody{
        width: 100vw;
        border-right: none;
        }
        .waitingPaymentBody .top{
            padding-left: 5% ;
            padding-right: 5%;
            justify-content:flex-start;
            gap: 24px;
            margin-bottom: 46px;
        }
        .waitingPaymentBody .top p {
            font-size: 24px;
        }
        .waitingPaymentBody .profile {
            margin: 1% 5%;
        }
        
        .waitingPaymentBody .box1 .text {
         margin: 0 5%;
        }
        .waitingPaymentBody .box2 {
            margin: 2% 5%;
        }
        .normalWidth {
            width: 90%;
        }
        .waitingPaymentBody .center .box4 {
            width: 90vw;
        }
        .smallWidth{
            width: 90vw;
        }
        .waitingPaymentBody .center .box5 .HelpOpen .open{
            display: block;
        }

    }


    @media only screen and (min-width:1024px) and (max-width: 1200px){
        .waitingPaymentBody .top {
            padding-right: 20%;
        }
    
    }