.hero-section{
    height: 732px;
    top: 69px;
}
.hero-section .wrapper{
    height: 391px;
    width: 579px;
    gap: 40px;
}
.hero-section .wrapper .hero-text{
    height: 150px;
    width: 528px;
    line-height: 75px;
    size: 56px;
    font-weight: 400;
}
.hero-section .wrapper .hero-text h2{
    line-height: 1.5;
    font-size: 35px;
}
.hero-section .wrapper .seamless-text{
    font-size: 24px;
    line-height: 42px;
}

