.Navbar{
    background-color: #FCFCFC;
    width: 1440px;
    height: 69px;
    display: flex;
    box-shadow: 1px 0px 9px;
    
    
    
    
    

}
nav ul li a{
    color: black;
    margin-right: 15px;
    font-size: 12px;
    
}


nav{
    flex: 1;
    text-align: right;
    
    
    
    
}

nav ul li{
    display: inline-block;
    
    
}
 ul li a{
    text-decoration: none;
    
}
nav ul{
}

.P2P{
    color: black;
    width: 100px;
    margin-top: 8px;
}
nav ul{
    margin-top: -15px;
    margin-right: 200px;
}
