

/* .......HERO-SECTION START */
.hero-section{
    width: 100%;
    height: 732px;
    top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.hero-section .wrapper-hero1{
    height: 400px;
    width: 579px;
    gap:10px;
    
}

.hero-section .hero-name{
    line-height: 75px;
    font-size: 55px;
    font-weight: 400;

    
}

.hero-section .seamless-text{
    font-size: 24px;
    line-height: 42px;
    margin-top: 30px;
}
.hero-section .iphone{
    width: 570px;
    height: 465.88px;
}
.hero-section .hero2{
    display: flex;
    align-items: center;
    width: 570px;
    height: 465px;
    justify-content: center;

}
.hero-section .hero1{
    width: 579px;
    height: 500px;
    gap: 28px;

}
.hero-section .hero-text{
    width: 340px;
    height: 225px;
    
}
.hero-section .seamless-text{
    width: 579px;
    height: 126px;
}
.hero-section .seamless{
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    font-family: "Gilroy-Medium";
}
/* ..........HERO-SECTION ENDS */


/* ..............APPROVE-SECTION................. */
.approved{
    background-color: #F0EDED;
    width: 100%;
    height: 417px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 801px;
    margin-top:-70px;
    border: 0.5px, 0px, 0px, 0px;
    padding: 40px, 133px, 40px, 13px;
    gap: 10px;
}
.approved .sub-approved{
    width: 1175px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    

}
.approved .logos{
    display: flex;
    flex-direction: row;
    width: 1128px;
    height: 137px;
    gap: 61px;
    align-items: center;
    justify-content: center;
}
.approved .due{
    text-align: center;
    font-size: 45px;
    margin-top: 10px;
}
.approved .aff{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    font-family:"Gilroy-Medium" ;
}
.approved .cbn{
    width: 51px;
    height: 73px;
}
.approved .sec{
    width: 56px;
    height: 62px;
}
.approved .fintech{
    width: 113px;
    height: 45px;
}
.approved .fraud{
    width: 125px;
    height: 37px;
}
.approved .cis{
    width: 95px;
    height: 73px;
}
.approved .fr{
    width: 78px;
    height: 83px;
}
.approved .firs{
    width: 79px;
    height: 63px;
}
.approved .ci{
    width: 104px;
    height: 137px;
}
.approved .sub-approved .rap1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
}
/* ............APPROVE-SECTION END............ */



/* .........ABOUT-SECTION START........ */
 .about-us{
    max-width: 1441px;
    height: 680px;
    top: 1218px;
    border: 0.5px, 0px, 0px 0px,;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.about-us .us{
    width: 590px;
    height: 494px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about .inner-us{
    width: 1201px;
    height: 494px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    left: 125px;
    gap: 96px;
    
}
.laptop .laptop{
    width: 408.64px;
    height: 276.51px;
    left: 52.05px;
    Radius: 12.23px, 12.23px, 0px;

}
.about .content{
    width: 515.09px;
    height: 323px;
}
.about .p2{
    font-weight: 400;
    line-height: 42px;
    size: 24px;
}
.about-us .us .text-us{
    width: 590px;
    height: 260px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.about-us .us .duty{
    width: 590px;
    height: 260px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.about-us .us .text-us .p2{
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    font-family: "Gilroy-Medium";
}
.about-us .us .duty .p2{
    font-size: 23.5px;
    font-weight: 400;
    line-height: 42px;
    font-family: "Gilroy-Medium";
}
.about .us .text-us .about-caption .caption{
    font-size: 45px;
    line-height: 52px;
    font-weight: 400;
}
/* ..............ABOUT-SECTION  ENDS............ */



/*.........WHY-US START.............. */
/* .why-us2{
    width: 100%;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;

    
} */
.why-us .element2{
    width: 570px;
    height: 646px;
    gap: 32px;
    display: flex;
    flex-direction: column;
}
.why-us .element-wrap1{
    width: 590px;
    height: 260px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.why-us .why-us2{
    width: 100%;
    height: 770px;
    top: 1898px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    border: 0.5px, 0p, 0px, 0px;
}
.why-us .element-wrap2{
    display: flex;
    gap: 167px;
    height: 338.04px;
    width: 518px;
    margin-top: 10px;
}
 .why-us .why-us2 .sub-wrap .element-wrap2 .element-wrap3 span{
    font-family:  "Gilroy-Bold";
    font-size: 20px;
    line-height: 24px;
 }
.why-us .wy{
    line-height: 52px;
    font-size: 45px;
    font-weight: 400;
    font-family: "Gilroy-Bold";
    color: #111010;
}
.why-us .we-stand{
    margin-top: 20px;
}
.why-us .why{
    font-size: 24px;
    font-family: "Gilroy-Medium";
    line-height: 42px;
    font-weight: 400;
    color: #1D1B20;
}
.why-us span{
    font-size: 12px;
    font-weight: bold;
}
.why-us .element-wrap3{
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.why-us .ph{
    width: 428px;
    height: 700px;
    margin-top: 100px;
    z-index: 2;
    
}

.why-us .sub-wrap{
    display: flex;
}
.why-us .element1{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80vw;
    height: 900px;
    top: 134px;
    left: 129px;
    margin-top: 40px;
   
}
.why-us .headphn{
    width: 35.35px;
    height: 35.35px;
}
.why-us .element1 .phn{
    width: 428px;
    height: 869px;
}
/* ......WHY-US ENDS......... */


/* .......NEW-LETTER-SECTION START......... */
.newsletter .subscription{
    width: 100%;
    height: 263px;
    top: 2763px;
    background-color: #F0EDED;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.newsletter .norm{
    width: 143px;
    height: 56px;
    border-radius: 6px;
    padding: 4px, 12px, 4px, 12px;
    gap: 10px;
}
.newsletter .address{
    display: flex;
    width: 661px;
    height: 56px;
    gap: 24px;
    line-height: 56px;
}
.newsletter input[type="text"]{
    width: 494px;
    height: 56px;
    border: none;
    border-radius: 5px; 
    padding: 20px;
}
.subscription .news-text .address ::placeholder{
    padding: 2px;
}
.newsletter .subscription .scribe{
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: #111010;
}
.newsletter .deals{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-family: "Gilroy-Medium";
    
}
.newsletter .small-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    
}
.newsletter .news-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 661px;
    height: 163px;
    top: 50.5px;
    left: 390px;
}
/* .......NDEWS-LETTER SECTION ENDS......... */

/* ..........FOOTER-SECTION STARTS........ */
.footer .p2p-footer{
    width: 100%;
    height: 564px;
    top: 3026px;
    left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer .layout{
    width: 1195px;
    height: 301px;
    top: 131px;
    left: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction: column;
     gap: 56px;

    /* gap: ; */
}
/* .footer .footer-contact{
    width: 814px;
    height: 128px;
    gap: 134px;
    border: 1px solid red;
    
    
} */
.footer .social-img{
    display: flex;
}
.footer .social{
    display: flex;
    gap: 134px;
}
.social{
    position: relative;
     margin: 0;
     padding-bottom: 50px;
}
.social::after{
    content: '';
    position: absolute;
    background-color: black;
    left: 50%;
    width: 1195px;
    height: 1px;
    bottom: 0;
    transform: translateX(-50%);
}
.footer ul li{
    display: flex;
    font-size: 15px;

    
}
.footer .p2p-footer .layout .social .social-3 .link ul li{
    font-size: 20px;
    font-style: none;
    font-family: "Gilroy-Medium";
    
}
.footer .p2p-footer .layout .social .social-2 .link ul li{
    font-size: 20px;
    font-style: none;
    font-family: "Gilroy-Medium";
    
}
.footer ul{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.footer .social-3{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer .social-4{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer .social-1{
    display: flex ;
    gap: 16px;
    flex-direction: column;
}
.footer .social-2{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer h5{
    font-size: 10px;
}
.footer .cookies{
    font-size: 10px;
}
.footer .p2p-footer .layout .end-footer .p2app .wrap-cookies .copy{
    font-size: 15px;
    font-family: "Gilroy-Medium";
}
.footer .p2p-footer .layout .end-footer .p2app .wrap-cookies  .cooky .cookies{
    font-size: 15px;
    font-family: "Gilroy-Medium";
}
.footer .wrap-cookies{
    display: flex;
    gap: 24px;
    
}
.footer .p2app{
    display: flex;
    flex-direction: column;
}
.footer .end-footer{
    display: flex;
    align-items:center ;
    justify-content: center;

}
.footer .p2p-footer .layout .social .social-2 .footer-link-1 h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Gilroy-Bold";
    letter-spacing: 0.15px;
}
.footer .p2p-footer .layout .social .social-3 .footer-link-1 h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Gilroy-Bold";
    letter-spacing: 0.15px;
}
.footer .p2p-footer .layout .social .social-4 .footer-link-1 h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Gilroy-Bold";
    letter-spacing: 0.15px;
}
.app{
    text-align: center;
}
.subbtn{
    width: 50px;
}
/* ........FOOTER-SECTION ENDS....... */