.profile-page{

}
.profile-page .profile-layout{
    width: 50vw;
    height: 1221px;

}
.profile-layout .left{
    display: flex;
    width: 395.23px;
    height: 36px;
    top: 75px;
    left: 39px;
    gap: 134px;
}
.profile-layout .profile-main{
    width: 511px;
    height: 810px;
    top: 201px;
    left: 412px;
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    


    
}
.profile-layout .profile-image{
    width: 511px;
    height: 174px;
    gap: 16px;
}
.profile-layout .inner-image{
    width: 511px;
    height: 174px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.profile-layout .pro-image{
    width: 98px;
    height: 96px;
}
.profile-layout .talan{
    width:254px ;
    height: 60px;

}
.profile-layout .tala{
    font-size: 28px;
    font-weight: 400;
    font-family: 'Gilroy-Bold', sans-serif;

}
.profile-layout .bot{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 24px;

}
.profile-layout .talan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile-layout .sticker-verification{
    width: 81px;
    height: 24px;
    border-radius: 20px;
    padding: 4px, 8px, 4px, 8px;
    gap: 4px;
    display: flex;
    background-color: #5E5E5E;
    align-items: center;
    justify-content: center;
}
.profile-layout .verification{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Gilroy-SemiBold', sans-serif;
    line-height: 16px;
    color: #FFFFFF;

}
.profile-layout .profile-info{
    width: 511px;
    height: 584px;
    gap: 24px;
}
.profile-layout .sectioned-details{
    width: 511px;
    height: 232px;
    gap: 24px;
}
.profile-layout .profile-contacts{
    width: 511px;
    height: 88px;
    gap: 8px;
    margin-top: 15px;
}
.profile-layout .yahoo-acc{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 24px;
}
.profile-layout .contact1{
    display: flex;
    width: 511px;
    height: 24px;
    gap: 8px;
    
}
.profile-layout .email{
    padding: 4px;
}
.profile-layout .bios{
    width: 511px;
    height: 120px;
    gap: 8px;
}
.profile-layout .bio-text{
    width: 24px;
    height: 16px;

}
.profile-layout .bio-name{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gilroy-Bold', sans-serif;
    line-height: 24px;
    color: #1D1B20;
}
.profile-layout .bio-para{
    width: 356px;
    height: 96px;

}
.profile-layout .paragraph{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gilroy-Medium', sans-serif;
    line-height: 24px;
    letter-spacing: 0.15px;
}
.profile-layout .editing-units{
    width: 511px;
    height: 328px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.profile-layout .editing-1{
    width: 511px;
    height: 48px;
    border-radius: 5px;
    padding: 12px, 16px, 12px, 16px;
    gap: 12px;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profile-layout .wrap-editing1{
    width: 479px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-layout .file-edit{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gilroy-Regular', sans-serif;
    line-height: 24px;
    letter-spacing: 0.15px;
    
}
.profile-layout .inner-edit{
    display: flex;
    gap: 8px;
}
.profile-layout .pen{
    padding: 2px;
}
