.newPaymentMethod{
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.newPaymentMethod .newPaymentHeader{
    margin: 20px 0 20px 0;
}
.newPaymentMethod .yourPayment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
@media screen and (max-width:767px) {
    .newPaymentMethod {
        width: 100vw;
    }
}