.ordercreated{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #727272;
    padding-bottom: 200px;
}
.ordercreated .order-created-text{
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    font-family: "Gilroy-Bold";
}
.ordercreated .top{
    display: flex;
    align-items: center;
    height: 145px;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-left: 15%;
    padding-right: 37%;
    position: sticky;
    top: 0;
    background-color: #FCFCFC;
    margin-bottom: 56px;
    z-index: 2;
}
.ordercreated .customer-info{
    width: 511px;
    height: 706px;
    top: 201px;
    left: 412px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    
}

.ordercreated .customer-info .complete .nam-wrapper  .name-wrapper{
   display: flex;
}
.ordercreated .nam-wrapper{
    display: flex;
    width: 160px;
    height: 46px;
    gap: 10px;
}
.ordercreated .doe{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 11px;
}
.ordercreated .right-arrow{
    margin-top: 12px;
    width: 9px;
}
.ordercreated .make-payment{
    width: 270px;
    height: 64px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}
.ordercreated .fiat-amount{
    width: 511px;
    height: 228px;
    border-radius: 10px;
    background-color: #F3F3F3;
    
}
.ordercreated .fiat1{
    display: flex;
    width: 507px;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    
    padding-left: 16px;
    padding-right: 16px;
}
.ordercreated .fit{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
}
.ordercreated .rev-text{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
}
.ordercreated .customer-info .complete .nam-wrapper .wraps .name-wrapper{
    display: flex;
    gap: 4px;
}
.ordercreated .reviews{
    width: 511px;
    height: 200px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.ordercreated .rev{
    font-size: 18px;
    font-family: 'Gilroy-Bold' sans-serif;
    
}
.ordercreated .proceed-topay{
    display: flex;
    flex-direction: column;
    width: 511px;
    height: 84px;
    gap: 8px;
    
}
.ordercreated .customer-info .complete{
    display: flex;
    gap: 24px;
    width: 270px;
    height: 134px;
    flex-direction: column;
    

}
.ordercreated .chats{
    width: 461px;
    height: 800px;
    left: 979px;
    border: 0px, 0px, 0px, 1px solid #727272;
    border-left: 1px solid #727272;
    display: flex;
    flex-direction: column;
    gap: 154px;
    
}
.ordercreated .chat-main{
    width: 447px;
    height: 514px;
    margin-top: 50px;
    top: 77px;
    left: 14px;
    margin-left: 10px;
}
.ordercreated .interval{
    width: 196px;
    height: 24px;
    display: flex;
    
    
    
}
.ordercreated .time-frame{
    width: 174px;
    height: 24px;

}
.ordercreated .ment-pay{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Gilroy-Bold', sans-serif;
    color: #4B4B4B;
}

.ordercreated .get{
    width: 16px;
    height: 16px;
    
}
.ordercreated .chat-text{
    margin-left: 10px;
}

.ordercreated .fiat-proceed{
    display: flex;
    width: 447px;
    height: 52px;
    top: 68px;
    justify-content: space-between;
    background-color: #DDDDDD;
    align-items: center;
    padding: 4px, 16px, 4px, 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.ordercreated .iat-amount{
    font-size: 14px;
    font-family: 'Gilroy-Medium' sans-serif;
    color: #4B4B4B;
}.ordercreated .nai-fig{
    font-size: 16px;
    font-family: 'Gilroy-Bold' sans-serif;

}
.ordercreated .chat1{
    width: 359px;
    height: 54px;
    top: 136px;
    left: 44px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    border-radius: 5px;
    background-color: #DDDDDD;
}
.ordercreated .stipulated{
    font-family: 'Gilroy-Medium' sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #1D1B20;
    margin-left: 20px;
}
.ordercreated .chat2{
    width: 320px;
    height: 196px;
    top: 206px;
    left: 16px;
    background-color: #B0B0B0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 12px;
    margin-left: 5px;
}
.ordercreated .inner-chat{
    width: 300px;
    height: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.ordercreated .semi{
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 12px;
    margin-top: 20px;
}
.ordercreated .semi{
    margin-left: 10px;
}
.ordercreated .chat3{
    width: 320px;
    height: 52px;
    top: 414px;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 12px;
    margin-left: 40px;
}
.ordercreated .p3{
    width: 300px;
    height: 32px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 12px;
}
.ordercreated .chat4{
    width: 320px;
    height: 36px;
    top: 478px;
    left: 16px;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #B0B0B0;
    margin-top: 12px;
    margin-left: 5px;
}
.ordercreated .p4{
    font-size: 12px;
    font-family: 'Gilroy-SemiBold', sans-serif;

}
.ordercreated .type-message{
    width: 461px;
    height: 82px;
    top: 718px;
    background-color: #B0B0B0;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.ordercreated input[type="text"]{
    position: relative;
    width: 429px;
}
.curv{
    position: absolute;
    right: 40px;
    
}
.ordercreated .esc{
    width: 250px;
    height: 32px;
    border-radius: 5px;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.ordercreated .sell{
    width: 232px;
    height: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.ordercreated .pto{
    font-size: 14px;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;

}
.ordercreated .question-mark{
    width: 14px;
    height: 14px;
}

