.cryptoSoldBody{
    width: 50vw;
    border-right: 1px solid #727272;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}

.cryptoSoldBody .top{
    display: flex;
    align-items: center;
    height: 145px;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 37%;
    position: sticky;
    top: 0;
    background-color: #FCFCFC;
    margin-bottom: 56px;
}

.cryptoSoldBody .top p{
    font-size: 28px;
}

.cryptoSoldBody .center{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.cryptoSoldBody .center .det1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.cryptoSoldBody .center .det1 p{
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    width: 80%;
}

.cryptoSoldBody .center .det2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.cryptoSoldBody .center .det2 .feedbackChat{
    display: none;
}
/* .cryptoSoldBody .center .det2 .feedbackChat .open{
    display: none;
} */


@media screen and (max-width:390px){
    .cryptoSoldBody {
        width: 100vw;
        border-right: none;
    }

    .cryptoSoldBody .center .det1 p {
        font-size: 16px;
    }

    .cryptoSoldBody .center .det2 .feedbackChat{
        display: flex;
        gap:12px;
    }
    .cryptoSoldBody .center .det2 .feedbackChat .open{
        display: block;
    }
    .displayEffect{
        display: none;
    }
}

@media only screen and (min-width:391px) and (max-width:768px){
    .displayEffect{
        display: none;
    }
    .cryptoSoldBody .center .det1 p {
        font-size: 18px;
    }
    .cryptoSoldBody .center .det2 .feedbackChat{
        display: flex;
        gap:12px;
    }
}
@media only screen and (min-width:820px) and (max-width:912px){
    .displayEffect{
        display: none;
    }
    .cryptoSoldBody .center .det2 .feedbackChat{
        display: flex;
        gap:12px;
    }

}
@media only screen and (min-width:391px) and (max-width:912px) {
    .cryptoSoldBody {
        width: 100vw;
        border-right: none;
    }

    .cryptoSoldBody .center .det2 .feedbackChat .open{
        display: block;
    }
}