.p2pSellBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    border-right: 1px solid #727272;
}

.p2pSellBody .top{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: 177px;
    width: 100%;
    padding: 77px 60px 48px 60px;
    position: sticky;
    top: 0;
    background-color:#FCFCFC;
    margin-bottom: 56px;
}

.p2pSellBody .top .title{
    font-size: 28px;
}

.p2pSellBody .top .body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p2pSellBody .top .body .right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.p2pSellBody .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.dropdownRight{
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 912px){
    .p2pSellBody{
        width: 100vw;
        border-right: none;
    }
    .p2pSellBody .top .body{
        flex-direction: column;
        gap: 24px;
    }

    .p2pSellBody .top {
        gap: 24px;
    }
    .p2pSellBody .top .body .right {
        gap: 199px;
    }
    }


