.language{
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 5%;

}

.language .languageHeader {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 20px 0 36px 0;
}

.language .languageWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (max-width:767px) {
    .language {
        width: 100vw;
    }

    .language .languageHeader {
        background-color: #FCFCFC;
        border-bottom: 1px solid #000;
        padding: 5%
    }
    

}