
.recentOrders{
    width: 29vw;
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top: 0;
}

.recentOrders .recentContainer{
    padding-top: 77px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 10px;
}
.recentOrders .recentContainer .recentHeading{
    font-family: 'Gilroy-Bold' sans-serif;
    font-weight:400;
    font-size: 18px;
    line-height: 24px;
    margin: 0 12px;
    color: #000000;
    padding-left: 3%;
}
.recentOrders .recentContainer .orderWrapper{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; 
}

@media screen and (max-width:912px) {
    .recentOrders{
        display: none;
        width: 0vw;
    }

   
}
