/* @import url('https://fonts.cdnfonts.com/css/gilroy-bold'); */
                
.usdt-info{
    width: 50vw;
    height: 1221px;
    top: 2227px;
    gap: 20px;
    border: 1px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  
}


.usdt-info .log{
    margin-left: 44px;
}

.usdt-info .left{
    display: flex;
    gap: 161px;
    margin-top: 75px;
    border: 1px solid red;
    width: 299.23px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

.usdt-info .middle-section{
    border: 1px solid pink;
    width: 570px;
    height: 145px;
    

}
.usdt-info .hero-frame{
    width: 511px;
    height: 948px;
}
.usdt-info .jr-usdt{
    
}
.usdt-info .figure-frame{
    width: 511px;
    height: 322px;
    border-radius: 10px;
    padding: 24px, 16px, 24px, 16px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-container{
    width: 479px;
    height: 274px;
}
.usdt-info .dev-usdt{
    border: 1px solid black;
}
.recent{
    border: 1px solid green;
    width: 384px;
}
input[type="text"]{

    width: 497px;
    height: 44px;
    background-color: #DDDDDD;
    border: none;
    border-radius: 5px;
}
::placeholder{
    padding: 10px;
}
.usdt-info .amount{
    width: 497px;
}
.usdt-info .pays{
    margin-top: 10px;
    width: 479px;
    
}
.usdt-info .fig-bold{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.usdt-info .paying{
    display: flex;
    gap: 2px;
    width: 369px;
    height: 20px;
    align-items: center;
    justify-content:space-between;
}
.usdt-info .pying{
    font-size: 14px;
    font-family: 'Gilroy-Medium', sans-serif;
}
.usdt-info .figs{
    font-family: 'Gilroy-Medium', sans-serif;
}
.usdt-info .entering-filed{
    margin-top: 10px;
}
