/* @import url('https://fonts.cdnfonts.com/css/gilroy-bold'); */
                
.usdt-info{
   
    /* border: 1px solid red; */
    display: flex;
    
    
  
}
.usdt-info .jr-usdt{
    width: 50vw;
    height: 1221px;
    top: 2227px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.usdt-info .log{
    margin-left: 44px;
}

.usdt-info .left{
    display: flex;
    gap: 161px;
    margin-top: 75px;
    width: 299.23px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

.usdt-info .middle-section{
    width: 570px;
    height: 145px;
    margin-top: -80px;
    

}
.usdt-info .hero-frame{
    width: 511px;
    height: 948px;
}
.usdt-info .jr-usdt{
    
}
.usdt-info .figure-frame{
    width: 511px;
    height: 322px;
    border-radius: 10px;
    padding: 24px, 16px, 24px, 16px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.inner-container{
    width: 479px;
    height: 274px;
}

.recent{
    width: 384px;
}
input[type="text"]{

    width: 497px;
    height: 44px;
    background-color: #DDDDDD;
    border: none;
    border-radius: 5px;
}
::placeholder{
    padding: 10px;
}
.usdt-info .amount{
    width: 497px;
    margin-top: 5px;
}
.usdt-info .pays{
    margin-top: 15px;
    width: 479px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.usdt-info .fig-bold{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.usdt-info .paying{
    display: flex;
    gap: 2px;
    width: 369px;
    height: 20px;
    align-items: center;
    justify-content:space-between;
}
.usdt-info .pying{
    font-size: 14px;
    font-family: 'Gilroy-Medium', sans-serif;
}
.usdt-info .figs{
    font-family: 'Gilroy-Medium', sans-serif;
}
.usdt-info .entering-filed{
    margin-top: 10px;
}
.usdt-info .Buy-btn{
    width: 479px;
    height: 38px;
    border-radius: 5px;
    background-color: #00A542;
    padding: 7px;
    
}
.usdt-info .btn{
    text-align: center;
    margin-top: -30px;
}
.usdt-info .details{
    width: 511px;
    height: 224px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-top: -600px;
}
.usdt-info .comm{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;


}
.usdt-info .com{
    font-family: 'Gilroy-Medium', sans-serif;
    padding: -5px;
}
.usdt-info .timer{
    display: flex;
    gap: 6px;
}
.usdt-info .timer{
    position: relative;
    margin: 0;
    padding-bottom: 15px;
}
.timer::after{
    content: '';
    position: absolute;
    background-color: #C6C6C6;
    left: 50%;
    width: 511px;
    height: 1px;
    bottom: 0;
    transform: translateX(-50%);
}
.usdt-info .name-wrapper{
    display: flex;
    width: 89px;
    height: 24px;
    gap: 4px;
}
.usdt-info .badge{
    margin-top: 2px;
}
.usdt-info .doe{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 11px;
}
.usdt-info .se-img{
    display: flex;
    width: 143px;
    height: 46px;
    gap: 8px;
}
.usdt-info .jh{
    font-size: 16px;
    font-family: 'Gilroy-Light' sans-serif;
}
.usdt-info .seller-profile{
    display: flex;
    flex-direction: column;
    width: 143px;
    height: 102px;
    gap: 8px;
    margin-top: 25px;

}

.usdt-info .tim{
    display: flex;
    gap: 8px;
}
.usdt-info .tim{
    position: relative;
    margin: 0;
    padding-bottom: 15px;
}
.tim::after{
    content: '';
    position: absolute;
    background-color: #C6C6C6;
    left: 180%;
    width: 511px;
    height: 1px;
    bottom: 0;
    transform: translateX(-50%);
}
.usdt-info .reviews{
    width: 511px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: -240px;
    /* gap */
}
.usdt-info .review-caption{
    width: 150px;
    height: 24px;
    
}
.usdt-info .write-ups{
    width: 511px;
    height: 168px;
}
.usdt-info .rev{
    font-size: 18px;
    font-family: 'Gilroy-Bold' sans-serif;
    
}
.usdt-info .rev-text{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-weight: 400;
}.usdt-info .recent-orders{
    width: 384px;
    height: 800px;
    left: 979px;
}
.usdt-info .inner-order{
    width: 370px;
    height: 1067px;
    top: 77px;
    left: 14px;
    /* gap: 16px; */
}


